html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #0a1b26;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;

}

.navbar {
    margin-bottom: 0;
    padding: 10px 20px;
}

.navbar-nav .nav-link {
    font-size: 20px;
    padding: 10px 15px;

}

.navbar-nav .nav-link:hover {
    color: #ffc107;
}

.container {
    flex: 1;
    padding-top: 0;
}

table {
    color: white;
    width: 100%;
    border-collapse: collapse;
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 0;
}

th {
    background-color: #343a40;
    color: white;
}

td {
    background-color: #495057;
    color: white;
}

footer {
    background-color: #343a40;
    color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
    margin-top: auto;
}

.realme-description,
.specification-border {
    margin: 0;
    padding: 15px;
}

.realme-description {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: rgba(194, 173, 173, 0.1);
    border: 5px solid #ffcc00;
    border-radius: 15px;
    max-width: 90%;
    text-align: center;
    font-size: 23px;
}

.specification-border {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 5px solid #ffcc00;
    border-radius: 15px;
    text-align: left;
}

.specification-header {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.battery-title,
.color-description {
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    margin-top: 30px;
    text-align: center;
}

.battery-description {
    font-size: 25px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
}


.product-image,
.img-battery,
.img-phone {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px 0;
}

.img-battery,
.img-phone {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 800px) {

    .realme-description,
    .specification-border {
        padding: 10px;
    }

    .battery-title,
    .color-description {
        font-size: 24px;
    }

    .product-image,
    .img-battery,
    .img-phone {
        width: 90%;
        margin: auto;
    }

    table {
        font-size: 0.9em;
        overflow-x: auto;
    }

    th,
    td {
        padding: 8px;
    }

    .navbar {
        padding: 10px;
    }
}

.yellow-text {
    color: #ffc107;
    font-size: 50px;

}