/*PUT YOUR CUSTOM STYLE HERE*/
#keyart-0, #keyart-1, #keyart-2, #keyart-3, #keyart-4, #keyart-5{
	background-size: contain; 
	background-repeat: no-repeat; 
	background-position: center; 
	image-rendering: crisp-edges; 
}

/*!This style is important, do not override!*/
* {
	margin: 0;
	padding: 0;
}