body {
    background-color: #FFFFFF;
}

.navbar {
    background-color: #FFFFFF;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Cards */
.cardBrand {
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15), 4px 8px 20px rgba(0, 0, 0, 0.1), -4px 8px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cardBrand:hover {
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2), 6px 15px 35px rgba(0, 0, 0, 0.15), -6px 15px 35px rgba(0, 0, 0, 0.15);
}

.watchImage {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.shop-button {
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid rgba(255, 255, 255, 0.9);
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    font-weight: 500;
}

.shop-button:hover {
    background: #FFFFFF;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.25);
    transform: translateY(-3px);
}

.learn-button {
    background: #aeb1b3;
    border: 1px solid #aeb1b3;
    color: #000000;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    transition: 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    font-weight: 500;
}

.learn-button:hover {
    background: #797b7d;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.25);
    transform: translateY(-3px);
}

.title {
    font-size: 50px;
}

.titleDesc {
    font-size: 20px;
}

.about,
.brands {
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    font-weight: bold;
    font-style: normal;
}

.description {
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: larger;
    margin-left: -20px;
}

.brand {
    font-family: "Lato", sans-serif;
    font-style: normal
}

.custom-description {
    margin-left: 1rem;
    margin-right: 1rem;
}

@media (max-width: 576px) {
    .custom-description {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
}