body {
    background-color: #FFFFFF;
}

.navbar {
    background-color: #FFFFFF;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.button {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 12px;
    color: white;
    padding: 0.6rem 1.5rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;
    cursor: pointer;
    font-weight: normal;
    width: 10%;
}

/* Cards */
.card {
    background-color: #ffffff; 
    border-radius: 12px; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); 
    border: none;
}

.cardBrand {
    background-color: #ffffff; 
    border-radius: 12px; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); 
    border: none;
}

.cardBrand:hover {
    transform: translateY(-10px);
}

.watchImage {
    object-fit: contain;
    height: 494px;
}

/* ADD TO CART */
.add-button, .review-button {
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid rgba(255, 255, 255, 0.9);
    color: rgb(0, 0, 0);
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    font-weight: 500;
    width: 50%;
    text-align: center;
    padding: 10px;
}

.add-button:hover, .review-button:hover {
    background: #FFFFFF;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.25);
    transform: translateY(-3px);
    color: #000000;
}

/* BUY IT NOW  */
.buy-button {
    background: #aeb1b3;
    border: 1px solid #bfc9cf;
    color: #000000;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    transition: 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    font-weight: 500;
    width: 50%;
    text-align: center;
    padding: 10px;
}

.buy-button:hover {
    background: #797b7d;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.25);
    transform: translateY(-3px);
    color: #000000;
}

.detailsBody {
    line-height: 140%;
}

.value {
    font-weight: normal;
}

.watchImage3 {
    height: 350px;
    width: 300px;
    object-fit: contain;
}

.btn-wide {
    width: 200px;
}

.firstCard {
    margin-top: 150px;
}