body {
    background-color: #FFFFFF;
}

.navbar {
    background-color: #FFFFFF;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
}

/* Cards */
.card {
    background-color: #FFFFFF;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15); 
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    position: relative;
    overflow: hidden;
}

.watchImage1,
.watchImage2,
.watchImage2s,
.watchImage3,
.watchImage4 {
    transition: transform 0.3s ease;
    width: 100%;
    height: auto;
    object-fit: cover;
    transform-origin: center center;
}

.watchImage1:hover,
.watchImage2:hover,
.watchImage2s:hover,
.watchImage3:hover,
.watchImage4:hover {
    transform: scale(1.1);
    cursor: zoom-in;
}

.watchImage2,
.watchImage2s {
    max-width: 150%;
}

.watchImage2s {
    margin-top: 20px;
    margin: auto;
}

.watchImage4 {
    margin: auto;
    display: block;
}

/* Preview Button */
.glass-button {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 12px;
    color: white;
    padding: 0.6rem 1.5rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2); 
    transition: 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    font-weight: normal;
}

.glass-button:hover {
    background: rgba(46, 41, 41, 0.2);
    color: black;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.25); 
    transform: translateY(-3px); 
}


/* ADD TO CART */
.glass-button-white {
    background: rgba(250, 236, 236, 0.397);
    border: 2px solid white;
    color: white;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15); 
    transition: 0.3s ease;
}

.glass-button-white:hover {
    background: rgba(255, 255, 255, 0.2);
    color: black;
}

/* BUY IT NOW */
.glass-button-colored {
    background: rgba(32, 31, 56, 0.35);
    border: 2px solid white;
    color: rgb(255, 255, 255);
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15); 
    transition: 0.3s ease;
}

.glass-button-colored:hover {
    background: rgba(255, 255, 255, 0.2);
    color: rgb(11, 228, 83);
}

.title {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.body {
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.watchImage1 {
    height: 400px;
    object-fit: contain;
}

.watchImage {
    height: 500px;
    object-fit: contain;
}

.watchImage2 {
    height: 300px;
    object-fit: contain;
}

.watchImage2s {
    height: 460px;
    object-fit: contain;
}

.watchImage3 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin-bottom: auto;
}

.watchImage4 {
    height: 240px;
    object-fit: contain;
}

/* Tagline */
@media (max-width: 920px) {
    .card .display-5 {
        font-size: 2rem;
    }
}

@media (max-width: 767px) {
    .card .display-5 {
        font-size: 3rem;
    }
}
