.custom-button {
  width: 100px;
  background-color: #f47c20;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}

.topcontainer .category-card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.custom-button.content {
  width: 200px;
}

.custom-button:hover {
  background-color: #ca9166 !important;
  cursor: pointer;
}

.topcontainer {
  height: 15dvh;
  background-color: #fff4e5 !important;
  border-radius: 10px;
  border: 2px solid #D4AF37;
}


.categories {
  width: fit-content;
}

.maincontainer {
  height: 75dvh;
  border-radius: 15px;
  background: #fff4e5 !important;
  border: 2px solid #D4AF37;
}

.container-fluid {
  background-color: #fcebd5;
}

.card {
  background-color: #ffffff;
  border-radius: 8px;
}

.title {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  text-align: center;
  color: #68200d;
  letter-spacing: 10px;
  font-family: 'Cal Sans', sans-serif;
}

.recieptcontainer {
  background-color: #fff4e5;
  color: #5c3017;
  border-radius: 15px;
  border: 2px solid #D4AF37;
}

.topcontainer .card {
  background-color: #f47c20;
  color: #ffffff;
}

.category-label {
  font-size: 15px;
  font-weight: bold;
  color: #5c3017;
}

.overflow-scroll {
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: #68200d #f1f1f1;
}

.overflow-scroll::-webkit-scrollbar {
  width: 8px;
}

.overflow-scroll::-webkit-scrollbar-thumb {
  background-color: #68200d;
  border-radius: 10px;
}

.overflow-scroll::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* Reciept will go down */

@media (max-width: 768px) {
  .container-fluid .row {
    flex-direction: column;
  }

  .col-9 {
    order: 1;
  }

  .col-3 {
    order: 2;
    margin-top: 20px;
  }

  .topcontainer,
  .maincontainer {
    overflow-x: auto;
  }
}

/* The maincontainer and top container will take the full width of screen*/

@media (max-width: 768px) {
  .container-fluid .row {
    flex-direction: column;
  }

  .col-9 {
    order: 1;
    width: 100%;
  }

  .col-3 {
    order: 2;
    margin-top: 20px;
    width: 100%;/
  }

  .topcontainer,
  .maincontainer {
    width: 100%;
    overflow-x: auto;
  }

  .categories,
  .d-flex {
    width: 100%;
  }
}