.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;

  }

  .nav-link {
    font-size: 20px;
  }

  .navbar-brand {
    font-size: 23px;
  }

  .btn {
    font-size: 23px;
  }

  .carousel-item img {
    width: 100%;
    height: 500px;
    object-fit: cover;

  }

  @media (max-width: 768px) {
    .carousel-item img {
      height: 300px;
    }
  }

  .carousel-caption h5 {
    text-align: center;
    font-size: 24px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-color: rgb(241, 245, 20);
    padding: 20px;
    border-radius: 10px;
  }

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }

  footer {
    background-color: transparent;
    border-top: 5px solid rgba(192, 160, 17, 1);
    padding: 40px 0;
    text-align: center;
  }


  .social-icons a {
    margin: 0 10px;
    color: #0b8c02;
    text-decoration: none;
  }

  .social-icons a:hover {
    color: #00aced;

  }

  .footer-links a {
    color: #0863a4;
    text-decoration: none;
    margin: 0 10px;
  }

  .footer-links a:hover {
    color: #00aced;

  }